.CardMovie {
	color: white;
	border: 2px solid rgb(85, 84, 84);
	width: 20rem;
	margin: 1rem;
	padding: 1rem;
	overflow-y: hidden;
	border-radius: 10px;
}

.CardMovie:hover {
	cursor: pointer;
	border: 2px solid rgb(247, 21, 88);
}

.CardMovie img {
	width: 200px;
	height: 300px;
}

.CardMovie #Overview {
	background-color: rgb(27, 26, 27);
	padding: 1rem;
}
